.container{
  display: flex;
justify-content: space-between;
align-items: center;
  background-color: #ffff;
  width: 100%;
  height: 100%;
}

.login-form{
  width: 60%;
  margin-top: -10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo{
    align-self: flex-start;
    margin-left: 2rem;
  }
}
.login-wrap{
  background: #f2f2f2;
  width: 35%;

  // margin-top: 20px;
  border-radius: 5px;
  padding: 7%;
  // margin-left: 320px;
  box-shadow: 0px 0px 6px 0px;
  border-radius: 6px;
.text{
  margin-left: 6px;
}
h1{
  text-align: center;

}
// .btn-gg{
//   background-color: #499CFC;
// }
button{
  width: 100%;

}

p{
  text-align: center;
}
.loginWgg{
  display: flex;

  // justify-content: center;
  align-items: center;
  // margin-left: 10px;
  width: 100%;
  height: 3.5rem;

  .icon-gg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1.5rem;
    .icon{
      width: 18%;
      margin-right: 10%;
      margin-left: -42%;
      background-color: #f2f2f2;
      padding: 7%;
      border: 1px solid #29348E;
    }
    p{
    margin: auto 0;
    }
  }
  button{

    height: 100%;
color: #f2f2f2;

  }
}

}

.form{
  width: 100%;

  display: grid;
  gap: 6px;
.email{
  width: 100%;
}
.password{
  width: 100%;
}
.btn-lg{
  width: 100%;
  height: 4rem;
  padding: auto 5rem;
  background-color: #499CFC;

}
}
.banner{
width: 40%;
height: 70%;
margin:10px auto;
border-radius: 120px 0px 0px 120px;
border: 1px solid black;
background-color: #29348E;
padding: 100px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 8px 0px;

.content{
display: flex;
flex-direction: column;
align-items: center;
h1{
  font-size: 40px;

  color:#f2f2f2;

}

}

}
.img-content{
  animation: shake 7s infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-5px, 0px) rotate(1deg); }
  30% { transform: translate(7px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
