@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap');
// .menu{
//   padding-right: 15px;
// }
.tool_bar{
  background-color: #29348E;
}
.menu{
  font-weight: bold;
  color: #f2f2f2;
}
#name{
  font-family: 'Golos Text', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #f2f2f2;
}
.tool_bar{
  height: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}
#duck_pic{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  padding-top: 15px;
}
.title,.des{
  font-size: 25px;
}
.sign_in{
  // display: flex;
  // flex-direction: row;
  margin: 15px;
}
