<div id="container">
  <div id="login" style="justify-self:flex-end ;">
    <button id="login-btn" mat-flat-button color="#499cfc" (click)="login()" >
      <p>Login with Google</p>
    </button>
  </div>
  <div id="contents">
      <div id="gamepin_container">
        <div id="gamepin">
          <div id="PINenter">
            <!-- <form> -->
            <mat-card>
              <input id="input" matInput placeholder="Gaming PIN" [(ngModel)]="pin">
              <div id="enter_btn">
                <button id="enter" mat-raised-button (click)="join()">ENTER</button>
              </div>
            </mat-card>
            <!-- </form> -->
          </div>
        </div>
      </div>
  </div>
</div>
