<div class="container" *ngIf="!isStarting && !isShowRanking">
  <audio autoplay preload="none" loop>
    <source src="../../../assets/Gigi_D_Agostino_L_Amour_Toujours.mp3" />
  </audio>
  <div class="top">
    <img @rotate id="imagelb" src="../../../assets/kaduck-logo (1).png" />
    <div class="text">
      <p style="font-size: 40px">Game is starting now!</p>
      <p style="font-size: 20px">Use the PIN below to join!</p>
      <div class="pin">
        <p style="font-size: 30px">PIN:</p>
        <p style="font-size: 28px">{{ id }}</p>
      </div>
    </div>
    <div class="start">
      <p style="font-size: 22px">Waiting for other Ducks...</p>
      <div class="btn">
        <div class="btnkey">
          <button mat-flat-button (click)="locked()" class="btn-key">
            <span *ngIf="!this.lock" class="material-symbols-rounded">
              lock_open
            </span>
            <span *ngIf="this.lock" class="material-symbols-rounded">
              lock
            </span>
          </button>
        </div>
        <div class="btnst">
          <button
            mat-flat-button
            (click)="start()"
            color="primary"
            class="btn-start"
          >
            start
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="userwait">
      <div class="btn-user" mat-flat-button>
        <mat-icon class="person">person filled</mat-icon>
        <p>{{ players.length }}</p>
      </div>
      <div class="users">
        <div @fadeInOut class="user-join" *ngFor="let player of players">
          <p class="nameuser">
            {{ player.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="contents" *ngIf="isStarting && !isShowRanking">
  <div id="middle">
    <div id="middle_higher">
      <div id="middle_higher_left">
        <div class="numofanswers">
          Questions:{{ i + 1 }} /{{ questionData.length }}
        </div>
      </div>
      <div id="middle_higher_container">
        <div id="typequestion">
          <p style="text-align: center; font-size: 36px">
            {{ questionData[i].questions }}
          </p>
        </div>
        <div id="addimg"></div>
      </div>
      <div id="middle_higher_right">
        <!-- <div id="timer">{{ questionData[0].timer }}</div> -->
        <div *ngIf="!isPaused" id="timer">{{ this.time }}</div>
        <button
          id="next_btn"
          mat-raised-button
          *ngIf="isPaused && this.i + 1 != this.questionData.length"
          (click)="nextQuestion()"
        >
          Next
          <audio autoplay preload="none">
            <source src="../../../assets/bell-123742.mp3" />
          </audio>
        </button>
        <button
          id="next_btn"
          mat-raised-button
          *ngIf="isEndGame"
          (click)="showRanking()"
        >
          Show Podium
        </button>
      </div>
    </div>
    <div id="middle_lower" *ngIf="!isPaused">
      <audio autoplay preload="none" loop>
        <source src="../../../assets/30minNekoAtsume.mp3" />
      </audio>
      <div id="middle_lower_left">
        <button class="ans" id="A_box" mat-raised-button>
          <span class="material-icons"> favorite </span>
          {{ questionData[i].answer_A }}
        </button>
        <button class="ans" id="C_box" mat-raised-button>
          <span class="material-icons"> star_rate </span>
          {{ questionData[i].answer_C }}
        </button>
      </div>
      <div id="middle_lower_right">
        <button class="ans" id="B_box" mat-raised-button>
          <span class="material-icons"> square </span>
          {{ questionData[i].answer_B }}
        </button>
        <button class="ans" id="D_box" mat-raised-button>
          <span class="material-icons"> pentagon </span>
          {{ questionData[i].answer_D }}
        </button>
      </div>
    </div>

    <!-- Show correct answer -->
    <div id="middle_lower" *ngIf="isPaused">
      <div id="middle_lower_left">
        <button
          [class]="
            'A' == questionData[i].true_answer
              ? 'answer_box ans_A correct'
              : 'answer_box ans_A'
          "
        >
          <span class="material-icons">
            {{ "A" == questionData[i].true_answer ? "check" : "favorite" }}
          </span>
          {{ questionData[i].answer_A }}
        </button>
        <button
          [class]="
            'C' == questionData[i].true_answer
              ? 'answer_box ans_C correct'
              : 'answer_box ans_C'
          "
        >
          <span class="material-icons">
            {{ "C" == questionData[i].true_answer ? "check" : "star_rate" }}
          </span>
          {{ questionData[i].answer_C }}
        </button>
      </div>
      <div id="middle_lower_right">
        <button
          [class]="
            'B' == questionData[i].true_answer
              ? 'answer_box ans_B correct'
              : 'answer_box ans_B'
          "
        >
          <span class="material-icons">
            {{ "B" == questionData[i].true_answer ? "check" : "square" }}
          </span>
          {{ questionData[i].answer_B }}
        </button>
        <button
          [class]="
            'D' == questionData[i].true_answer
              ? 'answer_box ans_D correct'
              : 'answer_box ans_D'
          "
        >
          <span class="material-icons">
            {{ "D" == questionData[i].true_answer ? "check" : "pentagon" }}
          </span>
          {{ questionData[i].answer_D }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SHOWING RANKING LIST AT THE END -->
<div class="container1" *ngIf="isShowRanking">
  <div class="show-ranking">
    <!-- <div class="show-ranking-header">
      <div class="show-ranking-header-title">
        <h1>Ranking</h1>
      </div>
      <div class="show-ranking-header-close">
        <button mat-icon-button (click)="closeRanking()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div> -->
    <!-- <div class="show-ranking-body">
    </div>
    <div class="show-ranking-body">
      <audio autoplay preload="none" loop>
        <source src="../../../assets/nhaccuaNhanhehe.mp3">
      </audio>
      <div class="show-ranking-body-ranking">
        <div class="show-ranking-body-ranking-item" *ngFor="let player of ranking">
          <div class="show-ranking-body-ranking-item-name">
            <p>{{ player.name }}</p>

          </div>
          <div class="show-ranking-body-ranking-item-score">
            <p>{{ player.score }}</p>
          </div>
        </div>
      </div>

    </div> -->
    <div class="show-ranking-header-title">
      <h1 style="font-size: 60px; color: #f2f2f2">Ranking</h1>
    </div>
    <div class="rating">
      <div class="name">
        <div class="namewin">
          <div class="textname">
            <p>{{ this.ranking[0].name }}</p>
          </div>

          <div class="show-ranking-body-ranking-item-score">
            <p style="font-size: 36px; color: #f2f2f2">
              {{ this.ranking[0].score }}
            </p>
          </div>
        </div>
      </div>

      <div class="columrating">
        <div class="podium__item2">
          <div class="textname">
            <p style="font-size: 40px; color: #f2f2f2">
              {{ this.ranking[1].name }}
            </p>
            <p style="font-size: 36px; color: #f2f2f2">
              {{ this.ranking[1].score }}
            </p>
          </div>
          <div class="podium__ranksecond2">2</div>
        </div>
        <div class="podium__item1">
          <div class="podium__rankfirst">1</div>
        </div>
        <div class="podium__item3">
          <div class="textname">
            <p style="font-size: 40px; color: #f2f2f2">
              {{ this.ranking[2].name }}
            </p>
            <p style="font-size: 36px; color: #f2f2f2">
              {{ this.ranking[2].score }}
            </p>
          </div>
          <div class="podium__rankthree">3</div>
        </div>
      </div>
    </div>
  </div>
</div>
