<div class="top">
  <img id="imagelb" src="../../../assets/kaduck-logo (1).png">
  <div class="text">
    <h1>The Game start now!</h1>
<p> Here’s intruction player to join!</p>
<div class="pin">
  <h2>Game PIN</h2>
</div>
  </div>
  <div class="start">
    <h1>Waiting for other Duck...</h1>
    <div class="btn">
      <div class="btnkey">
        <button mat-flat-button  class="btn-key">
          <mat-icon >lock open</mat-icon>
        </button>
      </div>


      <div class="btnst">
        <button mat-flat-button color="primary" class="btn-start">start</button>
      </div>

    </div>




  </div>


</div>
<div class="bottom">

<div class="userwait">
<button class="btn-user">
  <mat-icon class="person">person filled</mat-icon>
  <p>0</p>
</button>
<div class="users">
  <div class="user-join">
  <button class="duck"></button>
  </div>
</div>

</div>
</div>
