.container {
  height: 100%;
}
#next_btn {
  background-color: #29348e;
  color: #f2f2f2;
  width: 50%;
  height: 10.3%;
}
.top {
  width: 100%;
  height: 40%;
  background-color: #29348e;
  display: flex;
  animation: dancing 250s infinite;
  #imagelb {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 4%;
  }
  .text {
    color: #f2f2f2;

    padding: 8%;
    // border: 1px solid black;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .pin {
      border: none;
      // border-radius: 4%;
      // background-color: #f2f2f2;
      color: #f2f2f2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      padding: 2%;
    }
  }
  .start {
    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #f2f2f2;
  }
  .btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // padding: 6%;
    .btnkey {
      margin-left: -10%;
      button {
        position: relative;
        color: #333;
        transition: 0.3s;
      }
      button::before {
        position: absolute;
        background: #333;
        transition: transform 0.3s;
      }
      button:hover {
        color: #f2f2f2;
      }
      .btn-key {
        width: 70%;
        background-color: #333;
        color: #f2f2f2;
        align-items: center;
      }
      .btn-key::before {
        transform: scale(0, 1);
      }
      .btn-key:hover::before {
        transform: scale(1, 1);
      }
    }
    .btn-start {
      width: 100%;
      background-color: #f2f2f2;
      color: #262626;
    }
  }
}
.bottom {
  width: 100%;
  height: 60%;
  background-color: #333e95;
  animation: dancing 250s infinite;
}
.userwait {
  display: flex;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  .btn-user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    border: none;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2%;
    width: 5%;
    height: 8%;
    p {
      text-align: center;
      margin: 0;
      color: #f2f2f2;
    }
    .person {
      color: #f2f2f2;
    }
  }
  .users {
    // border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-join {
    width: 15%;
    height: 30%;

    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    // .duck{
    //   width: 8%;
    //   height: 30%;
    // }
    .nameuser {
      width: 100%;
      height: 40%;
      border: none;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 6% 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // .user-joinecho{
  //   width: 10%;
  //   height: 30%;

  //   // border: 1px solid black;
  //   // display: flex;
  //   // align-items: center;
  //   // justify-content: center;
  // }
}

#contents {
  width: 100%;
  height: 91%;
  background-color: rgb(156, 86, 0);
  display: flex;
  flex-direction: row;
}

#middle {
  width: 100%;
  height: 100%;
  background-color: #56d20f;
}
#middle_higher {
  display: flex;
  justify-content: center;
  height: 65%;
  background-color: #2b430a;
  width: 100%;
}
#middle_higher_container {
  display: flex;
  height: 100%;
  width: 70%;
  background-color: #499cfc;
  flex-direction: column;
  text-align: center;
}
#middle_higher_left {
  width: 15%;
  background-color: #002652;
  justify-content: center;
  display: flex;
  align-items: center;
}
#middle_higher_right {
  width: 15%;
  background-color: #002652;
  justify-content: center;
  display: flex;
  align-items: center;
}
#middle_lower {
  flex-direction: row;
  display: flex;
  height: 47%;
  background-color: #ec0c0c;
  width: 100%;
}
#middle_lower_left {
  width: 50%;
  height: 100%;
  background-color: #499cfc;
  flex-direction: column;
  display: flex;
}
#middle_lower_right {
  width: 50%;
  height: 100%;
  background-color: #499cfc;
  flex-direction: column;
  display: flex;
}

#typequestion {
  height: 19%;
  margin-top: 6%;
  display: flex;
  align-items: center;

  background-color: #f2f2f2;
}
#addimg {
  width: 60%;
  background-color: burlywood;
  height: 100%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
#A_box {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 30px;
  background-color: #ff6d66;
  display: flex;
  justify-content: start;
  color: #f2f2f2;
}
#C_box {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 30px;
  background-color: #e8b8ae;
  display: flex;
  justify-content: start;
  color: #f2f2f2;
}
#B_box {
  border-radius: 5px;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  font-size: 30px;
  background-color: #66e68e;
  display: flex;
  justify-content: start;
  color: #f2f2f2;
}
#D_box {
  font-size: 30px;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #e58f04;
  display: flex;
  justify-content: start;
  color: #f2f2f2;
}

#A_box:hover,
#B_box:hover,
#C_box:hover,
#D_box:hover {
  animation: shake 4s infinite;
}
#typequestion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.numofanswers {
  font-size: 25px;
  color: #f2f2f2;
}
#middle_higher_right {
  font-size: 25px;
  color: #f2f2f2;
}

@media screen and (max-width: 600px) {
}

// Showing correct answer
.answer_box {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 30px;
}

.ans_A {
  background-color: #858282;
  color: #f2f2f2;
}
.ans_C {
  background-color: #858282;
  color: #f2f2f2;
}
.ans_B {
  background-color: #858282;
  color: #f2f2f2;
}
.ans_D {
  background-color: #858282;
  color: #f2f2f2;
}

.correct {
  opacity: 1 !important;
  background-color: #31a34f;
}
.ans {
  background-color: #858282;
  color: #f2f2f2;
}
#timer {
  font-size: 50px;
  color: #f2f2f2;
}
//Show ranking
.container1 {
  background-color: #5614ac;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .show-ranking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: #3b9658;
    width: 80%;
    height: 80%;
    //   .show-ranking-header-title{
    //     display: flex;
    //     align-items: center;
    //   justify-content: center;
    //   h1{
    //     font-size: 60px;
    //   }
    //   }
    //   .show-ranking-header-close{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //   }
    // }
    // .show-ranking-body{
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   align-items: center;
    //   border: 1px solid black;
    //   width: 60%;
    //   height: 60%;
    //   // .show-ranking-body-ranking-ranking
    //   // {
    //   //   border: 1px solid black;
    //   //   width: 40%;
    //   //   height: 40%;
    //   // }
    //   .show-ranking-body-ranking-item{
    //     display: flex;
    //     border: 1px solid black;
    //     justify-content: space-between;
    //     align-items: center;
    //     width: 60%;
    //     height: 60%;
    //   }
    .rating {
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 70%;
      .name {
        width: 90%;
        height: 40%;
        // border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .namewin {
          width: 30%;
          height: 40%;
          // border: none ;
          // border-radius: 6%;
          // background-color: #f2f2f2;
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
          .textname {
            width: 60%;
            height: 80%;
            // border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              font-size: 40px;
              color: #f2f2f2;
            }
          }
          .show-ranking-body-ranking-item-score {
            width: 40%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .columrating {
        display: flex;
        align-items: flex-end;

        // border: 1px solid black;
        width: 90%;
        height: 100%;
        .podium__item2 {
          width: 30%;
          height: 60%;
          display: flex;

          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: center;
          // background-color: red;
          .podium__ranksecond2 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            color: #fff;
            background-color: #e58f04;
            width: 100%;
            height: 100%;
          }
        }
        .podium__item1 {
          width: 40%;
          height: 100%;
          display: flex;

          justify-content: center;
          align-items: center;
          text-align: center;
          // background-color: red;
          .podium__rankfirst {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            color: #fff;
            background-color: #ff6d66;
            width: 100%;
            height: 100%;
          }
        }
        .podium__item3 {
          width: 30%;
          height: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          // background-color: red;
          .podium__rankthree {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            color: #fff;
            background-color: #66e68e;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@keyframes dancing {
  0% {
    // scale: 1;
    background-color: #499cfc;
  }
  25% {
    // scale: 1.2;
    background-color: #ba2a23;
  }
  50% {
    // scale: 1.2;
    background-color: #3b9658;
  }

  75% {
    // scale: 1.2;
    background-color: #5614ac;
  }
  100% {
    // scale: 1;
    background-color: #e8b8ae;
  }
}
