.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#contents{
  background-color: #D9D9D9;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}
#createroom{
  width: 80%;
  height: 55%;
  margin: 0 auto;
  padding-top: 2%;
  margin-bottom: 2rem ;
  border-radius: 10px;
}
#lower{
  background-color:#D9D9D9;
  width: 80%;
  height: 47%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#createroom_container{
  background-color: red;
  height: 100%;
  display: flex;
  border: solid 5px #3441B1;
  border-radius: 10px;
  flex-direction: row;
}

#pic_create{
  background-color: #3441B1;
  width: 50%;
  height: 100%;
}

#gamepin_container{
  background-color: #3441B1;
  width: 50%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#gamepin{
  background-color: #3441B1;
  width: 100%;
  height:50%;
  display: flex;
  justify-content: center;
}
#PINenter{
  width: 57%;
  height: 30%;
}
#enter_btn{
  width: 100%;
}
#enter{
  width: 100%;
  padding: 10%;
  font-size: x-large;
  background-color: #499CFC;
  color: #f2f2f2;
   border-radius: 7px;
}
#crea{
  background-color: #3441B1;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
}

#or{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 6.5%;
}
#create_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#create{
  width: 100%;
  font-size: x-large;
  background-color: #499CFC;
  color: #f2f2f2;
  border-radius: 7px;
  padding: 10%;
}
#create_btn{
  width: 57%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


#dcv{
  background-color: #f2f2f2;
  width: 55%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgb(34 41 47/ 10%);

}
#maybedcv{
  margin: 10px;
  display: flex;
  justify-content: center;
}
#datadcv{
  width: 90%;
  height: 55%;
  margin: 10px;
  background-color: #f20430;
  margin: 0 auto;
}
#mykaduckfont{
  margin: 10px;
  display: flex;
  justify-content: center;
}
#datamykaduck{
  width: 90%;
  height: 40%;
  margin: 10px;
  background-color: #3a171d;
  margin: 0 auto;
}
#latestfont{
  margin: 10px;
  display: flex;
  justify-content: center;
}
#mykaducklatest{
  margin: 10px;
  display: flex;
  justify-content: center;
}
#datalatest{
  width: 90%;
  height: 40%;
  margin: 10px;
  background-color: #3a171d;
  margin: 0 auto;
}
#seeall{
  margin: 5px;
  justify-content: center;
  display: flex;
}
#lower_right{
  background-color: #D9D9D9;
  width: 50%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

}
#mykaduck{
  background-color: #F2F2F2;
  width: 85%;
  height:70%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0 rgb(34 41 47/ 10%);
    border-radius: 10px;

}
#latest{
  background-color: #F2F2F2;
  width: 85%;
  height:70%;
  display: flex;
  flex-direction: column;
  margin-top: 5px ;
  box-shadow: 0px 0px 10px 0 rgb(34 41 47/ 10%);
  border-radius: 10px;

}

#input{
  border: #3441B1 solid 1px;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 30px;
}
#gamepin_input{
  background-color: #3441B1;
}

#gamepin {
  width: 100%;
  margin-top: 5%;
}

mat-card {
  background-color: #3441B1;
  box-shadow: 0px 0px;
  padding-top: 15px;
}
