<div id="contents">
  <div id="middle">
    <div id="middle_higher">
      <div id="middle_higher_left">
        <div class="numofanswers" style="font-size: 25px;">
          0 Answers
        </div>
      </div>
      <div id="middle_higher_container">
        <div id="typequestion">
          <!-- <mat-form-field id="question_input" style="width: 100%;">
            <div id="input" style="display: flex; text-align: center;font-size: 100%;" matInput
              placeholder="Question here">
            </div>
          </mat-form-field> -->
        </div>
        <div id="addimg">
        </div>
      </div>
      <div id="middle_higher_right">
        <div id="timer" style="font-size: 25px;">
          Time : 10
        </div>
      </div>
    </div>
    <div id="middle_lower">
      <div id="middle_lower_left">
        <button id="A_box" mat-raised-button>A.</button>
        <button id="C_box" mat-raised-button>C.</button>
      </div>
      <div id="middle_lower_right">
        <button id="B_box" mat-raised-button>B.</button>
        <button id="D_box" mat-raised-button>D.</button>
      </div>
    </div>
  </div>
</div>
