<div id="contents">
  <div id="middle">
    <div id="middle_higher">
      <div id="middle_higher_left"></div>
      <div id="middle_higher_container">
        <div id="typequestion" >
          <mat-form-field id="question_input" style="width: 100%; ">
            <input id="input" style="display: flex; text-align: center;" matInput placeholder="Question here">
          </mat-form-field>
        </div>
        <div id="addimg">
        </div>
      </div>
      <div id="middle_higher_right"></div>
    </div>
    <div id="middle_lower">
      <div id="middle_lower_left">
          <button id="A_box" mat-raised-button  >A.</button>
          <button id="C_box" mat-raised-button  >C.</button>
        </div>
      <div id="middle_lower_right">
        <button id="B_box" mat-raised-button  >B.</button>
        <button id="D_box" mat-raised-button  >D.</button>
      </div>
    </div>
  </div>
</div>
