<div id="progressive" *ngIf="!isStarting && !isEndGame">
  <div>
    <h1 class="loadFont text-center">Please Wait...</h1>
  </div>
  <div class="loader"></div>
</div>
<div id="content" *ngIf="isStarting && !isEndGame">
  <div id="middle_lower" *ngIf="!alreadyAnswered && !isShowStatus">
    <div id="middle_lower_left">
      <button (click)="chooseAnswer('A')" id="A_box" mat-raised-button>
        <span class="material-icons"> favorite </span>
      </button>
      <button (click)="chooseAnswer('C')" id="C_box" mat-raised-button>
        <span class="material-icons"> star_rate </span>
      </button>
    </div>
    <div id="middle_lower_right">
      <button (click)="chooseAnswer('B')" id="B_box" mat-raised-button>
        <span class="material-icons"> square </span>
      </button>
      <button (click)="chooseAnswer('D')" id="D_box" mat-raised-button>
        <span class="material-icons"> pentagon </span>
      </button>
    </div>
  </div>
  <div id="content" *ngIf="alreadyAnswered || isShowStatus">
    <div id="progressive" style="display: flex; justify-content: center">
      <div
        class="loader"
        *ngIf="(time != 0 && alreadyAnswered) || (time == 0 && !isShowStatus)"
      >
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div></div>
    <div class="status-bg correct" *ngIf="isShowStatus && isCorrect == 1">
      <div>
        <span class="material-symbols-outlined"> check_circle </span>
        <h3
          style="
            color: #f2f2f2;
            font-size: 50px;
            display: flex;
            justify-content: center;
            margin: 0 0 10px 0;
            font-weight: 900;
          "
        >
          + {{ tempScore }}
        </h3>
        <p
          style="
            color: #f2f2f2;
            font-size: 18px;
            display: flex;
            justify-content: center;
          "
        >
          You are correct !
        </p>
      </div>
      <div class="user-totalscore">
        <div class="total-score">
          <p>{{ tempTotalScore }}</p>
        </div>
      </div>
    </div>

    <div class="status-bg false" *ngIf="isShowStatus && isCorrect == 0">
      <div>
        <span class="material-symbols-outlined">cancel </span>
        <p
          style="
            color: #f2f2f2;
            font-size: 30px;
            display: flex;
            justify-content: center;
          "
        >
          You are wrong!
        </p>
      </div>
      <div class="user-totalscore">
        <div class="total-score">
          <p>{{ tempTotalScore }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="player-rank" *ngIf="isEndGame">
  <div id="rank-score">
    <div id="TotalScore">Your Score: {{ userResult.score }}</div>
    <div id="TotalRank">Rank: {{ userResult.rank }}</div>
    <div id="icon">
      <span
        class="material-symbols-outlined"
        style="font-size: 200px; color: gold"
      >
        social_leaderboard
      </span>
    </div>
  </div>
</div>
