.loadFont {
  font-family: 'Poiret One', cursive;
  font-size: 80px;
}
/* Progress Bar Placement & Styling */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:#29348E;
  width: 100%;
  height: 100%;
}
#progressive {
  // position: absolute;
  // width: 300px;
  // height: 200px;
  // z-index: 15;
  // top: 50%;
  // left: 50%;
  // margin: -100px 0 0 -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color:#29348E;
  // width: 100%;
  // height: 100%;
  .gamepin{

    width: 80%;
    height: 50%;
    padding: 10%;
  }
}

.loader {
  margin:auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-top-color: #1abc9c;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: coloredspin 4s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes coloredspin {
  0%{
    transform: rotate(0deg) scale(1);
    border-top-color: #1abc9c;
    border-bottom-color: #1abc9c;
  }
  25% {
    border-top-color: #2ecc71;
    border-bottom-color: #2ecc71;
  }
  50% {
    transform: rotate(360deg) scale(1.05);
    border-top-color: #3498db;
    border-bottom-color: #3498db;
  }
  75% {
    border-top-color: #9b59b6;
    border-bottom-color: #9b59b6;
  }
  100%{
    transform: rotate(720deg) scale(1);
    border-top-color: #1abc9c;
    border-bottom-color: #1abc9c;
  }
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
