#text {
  color: white;
  display: flex;
  font-size: 20px;
}
// .spacer{
//   flex: 1 1 auto;
// }
#content {
  height: 100%;
  background-color: #499cfc;
}
#middle_lower {
  // flex-direction: row;
  display: flex;
  height: 100%;
  // margin-top: 5px;
  // background-color: #499CFC;
}
#middle_lower_left {
  width: 50%;
  height: 100%;
  background-color: #499cfc;
  flex-direction: column;
  display: flex;
}
#middle_lower_right {
  width: 50%;
  height: 100%;
  background-color: #499cfc;
  display: flex;
  flex-direction: column;
}
#A_box {
  width: 100%;
  height: 100%;
  // margin: 0 auto;
  // margin-top: 7%;
  // border-radius: 15px;
  font-size: 60px;
  background-color: #ff6d66;
  color: #f2f2f2;
}
#C_box {
  width: 100%;
  height: 100%;
  // margin: 0 auto;
  // margin-top: 4%;
  // border-radius: 15px;
  font-size: 60px;
  background-color: #e8b8ae;
  color: #f2f2f2;
}
#B_box {
  // border-radius: 15px;
  width: 100%;
  height: 100%;
  // margin: 0 auto;
  // margin-top: 7%;
  font-size: 60px;
  background-color: #66e68e;
  color: #f2f2f2;
}
#D_box {
  width: 100%;
  height: 100%;
  // margin: 0 auto;
  // margin-top: 4%;
  // border-radius: 15px;
  background-color: #e58f04;
  color: #f2f2f2;
  font-size: 60px;
}

#A_box,
#B_box,
#C_box,
#D_box {
  border: 1px solid black;
}
#A_box:hover {
  background-color: #b14a44;
  border: 1px solid black;
}
#B_box:hover {
  background-color: #4ca568;
  border: 1px solid black;
}
#C_box:hover {
  background-color: #a8847d;
  border: 1px solid black;
}
#D_box:hover {
  background-color: #a46b0f;
  border: 1px solid black;
}
#A_box:active {
  background-color: #ff6d66;
  animation: alternate-reverse;
}
#B_box:active {
  background-color: #66e68e;
}
#C_box:active {
  background-color: #e8b8ae;
}
#D_box:active {
  background-color: #e58f04;
}
.loadFont {
  font-family: "Poiret One", cursive;
}
/* Progress Bar Placement & Styling */
#progressive {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.loader {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-top-color: #1abc9c;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: coloredspin 4s linear infinite;
}
