.example-container {
  width: 100%;
  height: 100%;
  // background-color: #d9d9d9;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.btn_tags_container{
  align-items: center;
  // height: 15px;
  margin-left: 120px;
  border: 1px solid black;
}

.btn_tags{
  font-size: 20px;
  border: 1px solid black;
  color: black;
}

.search_container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.input{
  margin-right: 50px;
  border-radius: 5px;
  font-size: 20px;
  height: 25px;
}
.search {
  max-width: 350px;
  width: 100%;
}

.search_width{
  width: 100%;
}


#checkbox{
  width: 20px;
  height: 20px;
  accent-color: #499cfc;
  margin-left: 15px;
  float: left;
  margin-top: 55px;
}
#rec_contain{
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

#rec_recent{
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 2px 2px  rgb(203, 199, 199);
  height: 100%;
  width: 50%;
  align-items: center;
  margin: 15px;
}
#title{
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 15px;
  float: left;
}
.spacer{
  flex: 1 1 auto;
}
#edit{
  display: flex;
  flex-direction: column  ;
  float: right;

}

#start{
  margin-top: 30px;
  margin-right: 15px;
  text-align: center;
  font-size: 2vw;
  border-radius: 5px;
  color: white;
  background-color: #499cfc;
  border: none;
  box-shadow: 1px 1px rgb(203, 199, 199);

}
#start:hover{
  background-color: #006be6;
}
#start:active{
  background-color: #499cfc;
}
#btn_edit_start{
  padding:20px;
  float:right;
  width: 20%;

}
button{
  height: 100%;
  width: 100%;
}
