<div>
  <app-tool-bar (newOpenSideBarEvent)="drawer.toggle()"></app-tool-bar>
</div>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-side-bar></app-side-bar>
  </mat-drawer>
<div class="btn_container">
<div class="top_content">
  <button mat-icon-button class="btn_trash"><mat-icon>delete_forever</mat-icon></button>
  <span class="spacer"></span>
  <div><input class="input" type="text" placeholder="Search"></div>
</div>
  <div class="container">
    <table >
    <tr>
      <th><input type="checkbox"> All (5)</th>
      <th>Name</th>
      <th>Date</th>
      <th>No. of players</th>
    </tr>
    <tr *ngFor="let item of history">
      <td><input type="checkbox"></td>
      <td>{{item.name}}</td>
      <td>{{item.date}}</td>
      <td>{{item.symbol}}</td>
    </tr>
    </table>
  </div>
</div>
</mat-drawer-container>

