<app-tool-bar></app-tool-bar>
<div id="contents">
  <div id="leftbar"></div>
  <div id="middle">
    <div id="middle_higher">
      <div id="middle_higher_container">
        <div id ="typequestion" style="background-color: darkgoldenrod;" >
          <mat-form-field id="question_input" style="width: 90%; ">
            <input id="input" style="display: flex; text-align: center;"  matInput placeholder="Type your question here" >
          </mat-form-field>
        </div>
        <div id ="addimg">..</div>
      </div>
    </div>
    <div id="middle_lower">
      <div id="middle_lower_left"></div>
      <div id="middle_lower_right"></div>

    </div>
  </div>
  <div id="rightbar"></div>
</div>
