<app-tool-bar></app-tool-bar>
<div id="contents">
  <div id="leftbar">
    <div id="addquestion_box">
      <button id="addquestion_btn" mat-raised-button   >
        Add Question</button>
    </div>
    <div id="deletesave_box">
        <button id ="delete_btn" mat-raised-button >
          Delete</button>
        <button id="save_btn" mat-raised-button (click)="library()">
          Save</button>
    </div>
  </div>
  <div id="middle">
    <div id="middle_higher">
      <div id="middle_higher_container">
        <div id="typequestion" >
          <mat-form-field id="question_input" style="width: 100%; ">
            <input id="input" style="display: flex; text-align: center;" matInput placeholder="Type your question here">
          </mat-form-field>
        </div>
        <div id="addimg">
        </div>
      </div>
    </div>
    <div id="middle_lower">

      <div id="middle_lower_left">
          <input class="edit_btn" id ="A_box" type="text" placeholder="A">
          <input class="edit_btn" id ="C_box" type="text" placeholder="C">
        </div>
      <div id="middle_lower_right">
        <input class="edit_btn" id ="B_box" type="text" placeholder="B">
        <input class="edit_btn" id ="D_box" type="text" placeholder="D">
      </div>
    </div>
  </div>
  <div id="rightbar">
    <div id="timelimit_box">
      <div id="timelimit_txt">
        <p style="font-size:x-large">Time limit </p>
      <mat-icon fontSet="material-icons-outlined"  >
        timer_outline
      </mat-icon>
      </div>
      <div id="timelimit_btn">
        <mat-form-field appearance="fill">
          <mat-label>Chose</mat-label>
          <mat-select>
            <mat-option *ngFor="let t of time" [value]="t.value">
              {{t.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div id="score_box">
      <div id="score_txt">
        <p style="font-size:x-large">Points </p>
        <mat-icon  >emoji_events</mat-icon>
      </div>
      <div id="score_btn">
        <mat-form-field appearance="fill">
          <mat-label>Chose</mat-label>
          <mat-select>
            <mat-option *ngFor="let point of points" [value]="point.value">
              {{point.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div id="answer_box">
        <div id="answer_txt">
          <p style="font-size:x-large">Answer </p>
        </div>
        <div id="answer_btn">
          <mat-form-field appearance="fill">
            <mat-label>Chose</mat-label>
            <mat-select>
              <mat-option *ngFor="let a of answers" [value]="a.value">
                {{a.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
  </div>
</div>
