<!-- <div id="sidebar">
  <mat-icon class="list" style="font-size: 30px;">menu</mat-icon>

</div> -->
<!-- <div class="list_btn">
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon class="list" style="font-size: 25px;">menu</mat-icon>
  </button>
</div> -->
<div class="sidebar-container">
<div id="sideBar">
    <div id="sidebar_container">
      <div id="sidebar_icon">
        <button id="icon_btn">
          <mat-icon class="home">home</mat-icon>
          <p id="home_font">Home</p>
        </button>
        <button id="icon_btn">
          <mat-icon class="library">library_books</mat-icon>
          <p id="library_font">Library</p>
        </button>
        <button id="icon_btn">
          <mat-icon class="history">format_list_bulleted</mat-icon>
          <p id="history_font">History</p>
        </button>
        <button id="icon_btn">
          <mat-icon class="dcv">visibility</mat-icon>
          <p id="dcv_font">Discover</p>
        </button>
        <button id="icon_btn">
          <mat-icon class="settings">settings</mat-icon>
          <p id="settings_font">Setting</p>
        </button>
      </div>
    </div>
</div>
</div>
