#sidebar_icon{
  display: flex;
  flex-direction: column;
}

#sidebar{
  width: 100%;
  height: 100%;
  background-color: #29348E;
}
#icon_btn{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 10%;
  margin-left: 5px;
  border-radius: 2px;
  border: none;
  color: white;
  margin: 20px;
  background-color: #29348E;
}
#icon_btn:hover{
  background-color: #3347f6;
  border-radius: 5px;
}
#icon_btn:active{
  background-color: #262d70;
}
#icon_btn:focus{
  background-color: #499CFC;
  box-shadow: #262d70;
  border-radius: 5px;
}
#home_font{
  margin-top: 6px;
}
#library_font{
  margin-top: 6px;
}
#history_font{
  margin-top: 6px;
}
#dcv_font{
  margin-top: 6px;
}
#settings_font{
  margin-top: 6px;
}
#sidebar_container{
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
  background-color: #29348E;

}
.sidebar-container {
  width: 100%;
  height: 100%;
  background-color: #29348E;
  display: flex;
}
.example-sidenav{
  padding: 0;
}

#list_btn{
  height: 30%;
  color: #f2f2f2 ;
}

.beta{
  display: flex;
  justify-content: center;
  color: #f2f2f2;
}
